section {
	background-image: url('https://i.dlpng.com/static/png/5485905-sakura-petals-png-transparent-sakura-petals-png-image-free-sakura-petals-png-300_486_preview.png');
}

.container {
	margin: 0px 550px;
	width: 800px;
	padding: 30px 20px;

	background-color: rgba(78, 3, 112, 0.2);
}

#name {
	padding-left: 42px;
}

#email {
	padding-left: 42px;
}

#number {
	padding-left: 42px;
}

.comment {
	padding-left: 42px;
}

.number {
	width: 400px;
}

.head {
	font-size: 40px;
	text-align: center;
}

.subhead {
	font-size: 20px;
	text-align: center;
}

#title {
	margin-bottom: 5px;
}

#description {
	margin-bottom: 40px;
}

input[type="text"] {
	background: transparent;
}

.button {
	margin-left: 50px;
}
